{%extends 'base.html'%}
{% load static %}
{% block content %}        
    
    
    <div class="row p-2 bgAliceblue" style="background-color:aliceblue ;">
        <div class="col-md-4" style="height:300px;">
         </div>

        <div class="col-md-4 ps-4 text-center p-5">
       <h1>About Us</h1>
    <a href="/clinic/" class="text-p">Home></a>
    <a href="/About/" class="text-primary">About</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    
<!--row end-->

<div class="row p-5 banner" > 
            <div class="col-md-12 ps-4 text-center">
                <span>-KIVI CARE</span>
                <h1> Kivicare - The Platform You Deserve
                </h1>
                
                <p>Kivicare the platform you deserve...We are ready to provide you with any Medical, health and fitness.</p>
             </div>
            </div>
            <!-----Row start-->
            <div class="row p-4 ">
                <div class="col-md-4">
                <div class="col-md-12 text-center border ps-5" data-aos="fade-up"
                data-aos-duration="3000">
                    
                        
                            <img src="{% static 'icon-3-1-1.png' %}">                  
            <h3 class="text-center"> Qualified Doctor</h3>
            
            <p class="text-center">A person who holds a degree recongnised by the Medical Council is registered.</p>
        
        
        <a href="/Doctor/"><button class="btn btn-primary mb-4">Read more +</button></a>
            
                
                </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 text-center border ps-5" data-aos="fade-up"
                    data-aos-duration="3000">
                    
                        
                        <img src="{% static 'icon-2-1-1.png' %}">
                        
                        <h3 class="text-center"> Trusted Treatment</h3>
                        <p class="text-center">Kivicare has many types of treatment to relieve symptoms for all types illness.</p>
                        <a href="/Treatments/"><button class="btn btn-primary mb-4">Read more +</button></a>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 text-center border ps-5" data-aos="fade-up"
                            data-aos-duration="3000">
                    
                        
                        <img src="{% static 'j12.jpg' %}">
                                <h3 class="text-center">24/7 Services</h3>
                              <p class="text-center"> KiviCare is at your Service 24*7 aiming to provide the best services that a top notch medical.</p>
                               <a href="/Service/"><button class="btn btn-primary mb-4">Read more+</button></a>  
                            
                    </div>
                    </div>
            </div>
                <!--row end-->  
                              
                <div class="row p-5 bgAliceblue" style="background-color:aliceblue ;">
                    <div class="col-md-6">
                    <span>- ABOUT KIVI CARE</span>   
                    <h1>Health Commitments</h1> 
                    <p> We are ready to provide you with any Medical, health and fitness and providing world-class healthcare through a mutlidisciplinary.
                         </p>
                         <span class="progress-title">Successful Operation</span>
                         <div class="progress">
                            <div class="progress-bar" style="width:0%">80%</div>
                         </div>
                         <span class="progress-title">Empathy for Patients</span>
                         <div class="progress">
                            <div class="progress-bar" style="width:0%">90%</div>
                         </div>
                         <span class="progress-title">Hygiene</span>
                         <div class="progress">
                            <div class="progress-bar" style="width:0%">100%</div>
                         </div>
                         
                    <h4 style="padding: 10px;">BriarFord</h4>
                    <h6 class="text-primary ps-3">CEO & FOUNDER</h6>
                    
                 <img src="{% static 'ki.jpg' %}">
                    
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'medi-1.jpg' %}" height="500" width="500">
                    </div>
                </div>  
                <!--row end-->
                <div class=" row p-5" style="background-color: #FEF5F5;">
                    <div class="col-md-12">
                    <span>-HISTORY</span>
                    <h2>Our History</h2>
                </div>
               <div class="row ps-4">
                   <div class="col-md-5">
                    <IMG SRC="{% static 'dr.jpg' %}" height="100" width="200">
                        </div>
                        
                <div class="col-md-7">
                    
                    <p>In 2004, KiviCare Clinic received Section 330 designation as a health center. In 2005, KiviCare Clinic became a Federally Qualified Health Center (FQHC). In 2015 and 2016, KiviCare Clinic’s medical locations were awarded Level 3 Patient Centered Medical Home (PCMH) Recognition through the National Committee for Quality Assurance (NCQA). As a FQHC, we provide medical and dental services regardless of a patient’s ability to pay by offering a sliding scale fee discount in accordance with Federal Poverty Level Guidelines. We also accept ARKids 1st, Medicaid, Medicare, and third-party private insurance.</p>
               
                </div>  
                <hr>
                <div class="col-md-5">
                    <img src="{% static 'dr1.jpg' %}" height="100" width="200">
                    
                    </div>
                    <div class="col-md-7">
                    <p>KiviCare Clinic now has eighteen sites in Washington and Benton Counties, Arkansas: Medical Clinics in Springdale (2), Fayetteville, Rogers, Centerton and Siloam Springs; Dental Clinics in Springdale and Rogers; and School-Based Health Centers in Springdale (4), Pea Ridge, Prairie Grove , Fayetteville, Elkins and Siloam Springs.</p>
                </div>
                <hr>
                <div class="col-md-5">
                    <img src="{% static 'dr2.jpg' %}" height="100" width="200">
                    </div>
                    <div class="col-md-7">
                        <p>Kivicare Clinic’s mission is “Delivering exceptional, accessible and comprehensive care through patient-focused service to our communities.” Our goals are to increase direct services to the underserved while expanding access to affordable, quality, comprehensive health care for all. We do this through:
                           Increasing access to health care and enhancing the patient experience of care: quality, access, and reliability.Improving all aspects of patient care, including safety, effectiveness, patient-centeredness, timeliness, efficiency, and equity, and involving patients and families in plan of care.</p>
                    </div>
                    <hr>
                    <div class="col-md-5">
                        <img src="{% static 'dr4.jpg' %}" height="100" width="200">
                        </div>
                        <div class="col-md-7">
                            <p>Services include primary care with integrated behavioral health, pediatric, prenatal, and dental care. Additional services include chronic disease management, especially of hypertension and diabetes, as well as screening and referral for cancer treatment. Laboratory services, X-rays, low cost medications (utilizing the Federal 340B program and manufacturers’ indigent pharmacy programs), nutrition and diabetic consultation, and assistance with enrollment in ARKids 1st/Medicaid are provided at each clinic location.</p>
                        </div>
                        <hr>
                        </div>
                    </div>
                
   <!--row end-->                


        <div class="row p-4 bgAliceblue" style="background-color:#ecf2ff;">
        <div class="col-md-6 mt-5" style="height: 100px;">
            <span class="text-primary">-Services</span>
            <h2>WHY CHOOSE US</h2>
        </div>
        <div class="col-md-6 mt-5">
        <P>We are committed to “Delivering medical solutions for even the most difficult cases for the benefit of patients from around the world.</P>
      </div>                                    
 </div>
 <div class="row ps-4 mt-5">
    <div class="col-md-3 ps-3" data-aos="fade-up"
    data-aos-duration="3000">
        <div class="col-md-12 border p-3 ">
            <img src="{% static 'fa.jpg' %}" height="60" width="50">
        <h2>Family Consultation</h2>
        <P>Family counselling, or family therapy,aims to address psychological, behavioral, and emotional issues that cause family problems.</P>
    </div>
 </div>
 <div class="col-md-3 ps-3" data-aos="fade-up"
 data-aos-duration="3000">
    <div class="col-md-12 border p-3">
        <img src="{% static 'flat.jpg' %}" height="50" width="50">
        <h2> Health </h2>
        <h2>Services</h2>
        <P>Health Services consist of medical professional, organization, and ancillary health care workers who provide medical care to those in need.</P>
    </div>
 </div>

 
 <div class="col-md-3 ps-3" data-aos="fade-up"
 data-aos-duration="3000">
    <div class="col-md-12 border p-3">
        <img src="{% static 'imgs.jpg' %}" height="50" width="50"> 
        <h2>Health</h2>
        <h2> Checkup</h2>
        <p>Regular health exams and tests can help find problems before they start. They also can help find problems early, when your chances for treatment and cure are better.</p>
    </div>
 </div>
 <div class="col-md-3" data-aos="fade-up"
 data-aos-duration="3000">
    <div class="col-md-12 border p-3">
        <img src="{% static 'ss.jpg' %}" height="50" width="50">  
        <h2>Awesome</h2>
        <h2>Services</h2>
        <p>Excellent patients service in clinic is defined by asking patients about possible concerns. In addition, you must show empathy and always address the issues.</p>
    </div>
 </div>
 <!--row end-->

 <div class="row p-5 mt-5" style="background-color: #ECF2FF;" id="partners">
    <div class="col-md-12 ps-4" style="height:150px;">
        <marquee>
            <img src="{% static 'hospital1.png' %}"/>
            <img src="{% static 'hospital2.png' %}"/>
            <img src="{% static 'hospital3.png' %}"/>
            <img src="{% static 'hospital4.png' %}"/>
            <img src="{% static 'hospital5.png' %}"/>
            <img src="{% static 'hospital3.png' %}"/>
            <img src="{% static 'hospital1.png' %}"/>
            <img src="{% static 'hospital2.png' %}"/>
            <img src="{% static 'hospital3.png' %}"/>
            <img src="{% static 'hospital4.png' %}"/>
            <img src="{% static 'hospital6.png' %}"/>



        </marquee>
    </div>
 </div>
{% endblock %}       