{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row p-5 banner2">
  <div class="col-md-3" data-aos="fade-up"
  data-aos-duration="3000">
    <div style="padding-top: 150;">
      <p style="color: #f68685">TOP DOCTORS</p>
      <h2 class="text-bold">Make Your</h2>

      <h2>Life Healthy</h2>
      <a href="/Appointment/"><button class="btn  text-light" style="background-color: #f68685; border-radius: 0;"> GET APPOINMENT
        <span>|+</span></button></a>
    </div>
  </div>



  <div class="col-md-5">
    <img src="{% static 'doctor-2023.png'%}" height="400" width="100%" />
  </div>

  <div class="col-md-4 pb-5 text-end" data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500">
    <span class="text-primary">OUR MOTO</span>
    <h1 class="text-danger pb-5">GREAT HEALTH</h1>
    <h5>SPECIALISATION IN</h5>
    <h6>DENTISTS:</h6>
    <h6>CHEERFUL SKIN:</h6>
    <h6>CARDIOLOGIST:</h6>
    <h6>PULMONOLOGIST:</h6>
    <h6>CATARACT SURGERY:</h6>
    <h6>GASTROENTEROLOGIST:</h6>
    </div>
</div>
  <!--row end-->

  <div class="row p-4 " style="background-color: #FEF5F5;">
    <div class="col-md-4 mt-5">
      <span>- ABOUT KIVICARE</span>
      <h1>Welcome to kivicare</h1>
      <h3>Central Clinic</h3>
      <p> Welcome to kivicare central clinic. kivicare With an excellent team of highly qualified medical professionals and,supported with paramedical and,the clinic has availing quality healthcare at an affordable cost.</p>
      <div class="bg-blue" style="background-color: #7093e5;">
      </div>
    <br>
      <div class="col-md-12 mt-5 ps-2 text-white " style="background-color: #7093E5;">
        <i class="fa-regular fa-clock ps-5" style="padding: 30px;"></i>
        <h3  style="padding: 20;">Opening Timing</h3>
        <ul class="iq-contact">
          <li class="iq-week">
<span class="iq-week-day">Monday-Friday</span>
<span class="iq-time">6:00 - 7:00pm</span>
</li><hr>
          <li class="iq-week">
<span class="iq-week-day">Saturday</span>
<span class="iq-time">8:00 - 9:00pm </span>
</li><hr>
          <li class="iq-week">
<span class="iq-week-day">Sunday</span>
<span class="iq-time">10:00 - 9:00pm </span>
</li><hr>
          
</ul>
        
    </div>
    
      </div>
    <div class="col-md-4 ps-5 mt-5 ">
     <p> <img src="{% static 'icons.jpg' %}" height="30" width="30">
     Treats minor illnesses</p>
     <p> <img src="{% static 'icons.jpg' %}" height="30" width="30">
      Answers health questions</p>
      <p> <img src="{% static 'icons.jpg' %}" height="30" width="30">
      Conducts health checkups</p>
      <p> <img src="{% static 'icons.jpg' %}" height="30" width="30">
      Orthopaedic surgeon</p>
      <p> <img src="{% static 'icons.jpg' %}" height="30" width="30">
      Orthopaedic surgeon<br>
      <p> <img src="{% static 'icons.jpg' %}" height="30" width="30">
      Endocrinologist<p><br>

      <div class="col-md-12 ps-5 mt-5">
        <img src="{% static 'ki.jpg' %}">
        <div style="padding-top: 100;">
        <h3>BriarFord</h3>
        <h6>CEO&FOUNDER</h6>
       <a href="/Appointment/"> <button class="btn ms-1  text-light" style="background-color: #f68685; border-radius: 0;">GET APPOINMENT
          <span>|+</span></button></a>
          
      </div>
    </div>
  </div>
    <div class="col-md-4  ps-3">
      <img src="{% static 'about.jpg' %}" width="100%" height="650" />
    </div>
  </div>


<!--row end-->
  <div class="row p-5 bgAliceblue" style="background-color:aliceblue">
    <div class="row text-center">
      <div class="col-md-12 mt-5 ">
        <span class="fw-bold">- WHY CHOOSE US</span>
        <h1> Why People Trust kivicare</h1>
        <h3>Treatment</h3>
        <p>A Service that provide medical treatment and care to the public or to a particular group.<br> And the cost-effective delivery of health services to remote areas.</p>
      
      </div>
    </div>
  
    <!--row start-->
    <div class="row p-4 ">
      <div class="col-md-4 ps-3">
      <div class="col-md-12 text-center border p-5" data-aos="fade-up"
      data-aos-duration="3000">
      <img src="{% static 'icon-3-1-1.png' %}">                  
      <h3 class="text-center"> Qualified Doctor</h3>
   <p class="text-center">A person who holds a degree recongnised by the Medical Council is registered.</p>
<a href="/Doctor/"><button class="btn btn-primary mb-4">Read more +</button></a>
  </div>
      </div>

      <div class="col-md-4 ps-3">
          <div class="col-md-12 text-center border p-5" data-aos="fade-up"
          data-aos-duration="3000">
          <img src="{% static 'icon-2-1-1.png' %}">
              <h3 class="text-center"> Trusted Treatment</h3>
              <p class="text-center">Kivicare has many types of treatment to relieve symptoms for all types illness.</p>
              <a href="/Treatments/"><button class="btn btn-primary mb-4">Read more +</button></a>
              </div>
              </div>

              <div class="col-md-4 ps-3">
                  <div class="col-md-12 text-center border p-5" data-aos="fade-up"
                  data-aos-duration="3000">
                <img src="{% static 'j12.jpg' %}">
                      <h3 class="text-center">24/7 Services</h3>
                    <p class="text-center"> KiviCare is at your Service 24*7 aiming to provide the best services that a top notch medical.</p>
                     <a href="/Service/"><button class="btn btn-primary mb-4">Read more+</button></a>  
                  
          </div>
          </div>
  </div>
  
      <!--row end-->
      <div class="row p-4  bg-light" style="background-color:#f46462;;">
        <div class="col-md-7 mt-5" style="height: 300px;">
          <span class="pb-3">- SERVICES</span>
          <h1 class="pb-3">We Provide Medical Services. </h1>
          <p>Kivicare  is at your services 24 hour aiming to provide the best services that a top natch medical. </p>
          <a href="/Service/"><button class="btn ms-1  text-light" style="background-color: #f68685; border-radius: 0;">ALL SERVICES
            <span>|+</span></button></a>
       </div>
       <div class="col-md-5 pb-5 text-end">
        <img src="{% static 'ph.jpg' %}" height="400" width="200">
       </div>
      </div>
      <!--Row end-->
      <div class="row ps-4  bgwhite" style="background-color: white;">


        <div class="col-md-4" data-aos="fade-up"
        data-aos-duration="3000">
          
        <img src="{% static 'famm.jpg' %}" height="100" width="100">
          <h3>Family Consultation</h3>
          <p class="text-light-blue ">Family counselling, or family therapy,aims to address psychological, behavioral, and emotional issues that cause family problems.</p>
          
        
        </div>

        <div class="col-md-4" data-aos="fade-up"
        data-aos-duration="3000">
          
            <img src="{% static 'home.jpg' %}" height="100" width="100">
            <h3>Home Health Services</h3>
            <p>Home Health Care is a wide range of medical Services Provide to patients in the comfort of their homes.The focus of Home Health Care is to deliver 'Healthcare outside hospitals' in the right way.  </p>
          
        </div>

        <div class="col-md-4" data-aos="fade-up"
        data-aos-duration="3000">
          
            <img src="{% static 'mi.png' %}" height="100" width="100">
            <h3>Minor Procedures</h3>
            <p>Your local FastMed performs many of the same minor surgical procedures as a typical hospital ER, but conveniently and affordably in the safe and terile environment o o our clinics.  </p>
          
        </div>
      </div>
      <!--row end-->



      <div class="row mt-5" style="background-color: #f78da7;">

        <section class="client pt-3 pb-5">
          <div class="container">
            <div class="row text-center">
              <h1>Our Client Says</h1>
              <div class="col-md-6">

                <hr class="bg-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">

              </div>
            </div>
            <div class="row align-items-md-center text-dark">
              <div class="col-lg-7 col-md-7 col-sm-7">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row p-4">
                        <div class="t-card">
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <p class="lh-lg">"you can't go wrong here.I eceive the best care and attention. The nursing
                            staff and doctorsbare amazing and take their time with you.I felf better walking out here
                            every time."</p>
                          </p>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>

                        </div>
                        <div class="row">
                          <div class="col-sm-2 pt-3">
                            <img src="{% static 'mp.jpg' %}" class="rounded-circle img-responsive img-fluid">
                          </div>
                          <div class="col-sm-10">
                            <div class="arrow-down d-none d-lg-block"></div>
                            <h4><strong>Moric Horgon</strong></h4>
                            <p class="testimonial_subtitle"><span>PATIENT</span>


                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row p-4">
                        <div class="t-card">
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <p class="lh-lg">"Still very professional but a much more relaxed almosphere. This makes for a
                            more comfortable experience which is helpful in dealing with medical issues." </p>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>

                        </div>
                        <div class="row">
                          <div class="col-sm-2 pt-4">
                            <img src="{% static 'jr.jpg' %}" class="rounded-circle img-responsive img-fluid">
                          </div>
                          <div class="col-sm-10">
                            <div class="arrow-down d-none d-lg-block"></div>
                            <h4><strong>julia Roberts</strong></h4>
                            <p class="testimonial_subtitle"><span>
                                HEALTH CARE</span>


                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row p-4">
                        <div class="t-card">
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <p class="lh-lg">" It has been very effective, in my opinion. it has made everyone more
                            relaxed in a very comfortable atmosphere, staff and patients included. We have always felt
                            like family here, even more so now".</p>
                          <i class="fa fa-quote-right" aria-hidden="true"></i>

                        </div>
                        <div class="row text-lg-start">
                          <div class="col-sm-2 pt-4 align-items-center">
                            <img src="{% static 'jack.jpg' %}" class="rounded-circle img-responsive img-fluid">
                          </div>
                          <div class="col-sm-10">
                            <div class="arrow-down d-none d-md-block"></div>
                            <h4><strong>jack leo</strong></h4>
                            <p class="testimonial_subtitle"><span>COO COMPANY</span>


                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="controls push-right">
                  <a class="left fa fa-chevron-left text-white btn btn btn-outline-light"
                    href="#carouselExampleCaptions" data-bs-slide="prev"></a>
                  <a class="right fa fa-chevron-right text-white btn btn btn-outline-light"
                    href="#carouselExampleCaptions" data-bs-slide="next"></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!--row end-->
    
    {% endblock %}