{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row p-5 banner1">
    <div class="col-md-12" data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="300"
    data-aos-offset="0">
        <h1>Doctor</h1>

    </div>
    </div>
    <div class="row p-4 banner">
    {% for b in d %}

        <div class="col-md-4">
    <div class="col-md-12 p-3 Doctor" data-aos="fade-up">
        <a href="/Doctordetail/{{ b.id }}" class="text-decoration-none text-dark">
     <img src="/media/{{ b.photo }}" width="300" height="300">     
    <h4>{{ b.name }}</h4>

    
    </a>
    
</div>
 </div>   
{% endfor %}
</div>    


{% endblock %}
 