
{% load static %}
<html>
 <head>
    <title>first page</title><lin
k href="{% static 'style.css' %}" rel="stylesheet"/>    
 </head>
<body>
    <h1 id="heading">welcome jango</h1>
    <h2> welcome jango</h2>
    <img src="{% static 'img.jfif'%}"height="300"width="500" id='image'/>
 <p class="para"> A computer is an electronic device that was discovered by charies babbage
. he is known as the father of computer.there are various parts of computers<br>
 the four parts of a computer are the keyboard,mouse,cpu.</br></p>
 <ul type="i">
    <li>php</li>
    <li>python</li>
    <li>csa</li>
 </ul>
 </ul>
 <ol type="a">
    <li>csa</li>
    <li>python</li>
    <li>php</li>
 </ol>
 <table border="4" cellspacing="5" cellpadding="10">
    <thead>
        <tr>
            <th>sno</th>
            <th>name</th>
            <th>course</th>
        </tr>
        <tr>
            <th>1</th>
            <th>siya</th>
            <th>php</th>
        </tr>
        <tr>
            <th>2</th>
            <th>riya</th>
            <th>python</th>
        </tr>
    </thead>
</tbody>
 </table>
<l--anchor,hyperlink reference-->
<a href="/about/">home page</a>
</body>
</html>