 {% load static %}
 <html>
    <head>
        <title>consturction renovat</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet"/>
<link href="{% static 'style.css' %}" rel="stylesheet"/> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />        
    </head>       
    <body>
        <div class="container-fluid">
            <div class="row bg-warning text-light p-2" id="topheader">
                <div class="col-md-9 ps-3">
                <i class="fa-solid fa-mobile"></i>
                <span>+535 421 895 6523 </span>
                &nbsp;&nbsp;
                <i class="fa-light fa-envelope"></i>    
                <span>consturction@ example.com</span>    
                </div>
            <div class="col-md-3 text center">

                <a href="#">FAQ</a>
                <span>|</span>
                <a href="#">contact</a>
            </div>
        </div>    
        <!--top header end-->
        
        <div class="row p-3" id="header">
            <div class="col-md-4 ps-5">
                <img src="image/logo.png" width="170" height="80"/>
            </div>
        </div>
        
        <div class="row p-9" id="header">
            <div class="col-md-9">
            <nav id="nav">
                <ul class="nav">
                    <li><a href="" class="nav-link">home</a></li>
                    <li><a href="" class="nav-link">service</a></li>
                    <li><a href="" class="nav-link">contact</a></li>
                    <li><a href="" class="nav-link">pages</a></li>
                </ul>
            </nav>
            </div>
        </div>
        <!--header end-->
    <div class="row" id="baner">
        <div class="col-md-12">
            <h3></h3>
        </div>
    </div>

    </div>
    </body>