{% extends 'base.html' %}
{% load static %}
{% block content %}

       
    
    
    <div class="row p-5 banner">
        <div class="col-md-4" style="height: 300px;">
         </div>
         <div class="col-md-4 ps-4 text-center">
            <h2>Service</h2>
            <a href="/clinic/" class="text-primary">Home></a>
            <a href="/Service/" class="text-primary">Service</a>
             </div>
             <div class="col-md-4"></div>
         </div>
         
     <!--row end-->

     <div class="row p-5 bgAliceblue" style="background-color:white ;"> 
        <div class="col-md-12 ps-4 text-center">
            <span>-SERVICES</span>
            <h1> Kivicare Medical Services
            </h1>
            
            <p>A Service that provide medical treatment and care to the public or to a particular group.<br> And the cost-effective delivery of health services to remote areas.</p>
         </div>
        </div>

        <div class="row p-2 ml-2 mr-2">
            <div class="col-md-4 ps-2 text-center" data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
                <div class="col-md-12 border ml-4">
                    <div class="p-3">
                      
                        <img class="text-center" src="{% static 'heart.jpg' %}" > 
                        
                           
        <h3 class="text-center"> Health CheckUp</h3>
        
        <p class="text-center">A usual full-body health check-up is made up<br> of blood and urine tests lungs function tests,<br>and cardiac test.</p>
    </div>
    
    <a href="/Appointment/"><button class="btn  text-light text-center" style="background-color: #f68685; border-radius: 0;">APPOINMENT <span>|+</span></button></div></a>
      </div>  
    <div class="col-md-4 ps-2 text-center" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <div class="col-md-12 border">
            <div class="p-3">
                <img src="{% static 'x-ray.jpg' %}">                  
<h3 class="text-center"> X-Ray</h3>

<p class="text-center">An X-ray is an imaginaring test that produces<br> pictures of the organs, tissues, and bones<br> of the body.</p>
</div>

<a href="/Appointment/"><button class="btn  text-light" style="background-color: #f68685; border-radius: 0;">APPOINMENT <span>|+</span></button></div></a>
</div>

<div class="col-md-4 ps-2 text-center" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
    <div class="col-md-12 border mr-3">
        <div class="p-3">
            <img src="{% static 'blood.jpg' %}">                  
<h3 class="text-center"> Blood Bank</h3>

<p class="text-center">Blood banking is the process that takes place<br> in the lab to make sure that donated blood, or<br> blood products.</p>
</div>

<a href="/Appointment/"><button class="btn  text-light" style="background-color: #f68685; border-radius: 0;">APPOINMENT <span>|+</span></button></div></a>
</div>
</div>

<!--row end-->
<div class="row p-2">
    <div class="col-md-4 ps-2 text-center" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <div class="col-md-12 border">
<div class="p-3">
                <img src="{% static 'lab.jpg' %}" />               
<h3 class="text-center"> Laboratory</h3>

<p class="text-center">Clinical lab services are tests on specimens<br> from the body that are used to diagnose and<br> treat patients.</p>
</div>
 <a href="/Appointment/"><button class="btn  text-light" style="background-color: #f68685; border-radius: 0;">APPOINMENT <span>|+</span></button></div></a>
</div>  

<div class="col-md-4 ps-2 text-center" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
    <div class="col-md-12 border">
        <div class="p-3">
            <img src="{% static 'checkup.png' %}">                  
<h3 class="text-center"> Outdoor Checkup</h3>

<p class="text-center">Clinics of Outdoor Checkup<br> Services, Emergency Care Service,<br> Postoperative Care Service</p>
</div>

<a href="/Appointment/"><button class="btn  text-light" style="background-color: #f68685; border-radius: 0;">APPOINMENT <span>|+</span></button></div></a>
</div>

<div class="col-md-4 ps-2 text-center" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
    <div class="col-md-12 border">
        <div class="p-3">
            <img src="{% static 'Ambulance.jpg' %}">                  
<h3 class="text-center">Ambulance</h3>

<p class="text-center"> Emergency ambulance services have<br> dedicated staff to handle medical conditions<br> at any time anywhere.
     </p>
</div>

<a href="/Appointment/"><button class="btn  text-light" style="background-color: #f68685; border-radius: 0;">APPOINMENT <span>|+</span></button></div></a>
</div>
</div>
<!--row end-->

<div class="row p-5 bgAliceblue" style="background-color:aliceblue ;">
    <div class="col-md-6" style="height: 300px;">
    <span>-KIVICARE</span>
    <h1> Welcome To The World's</h1>
    <h3>First IVF Treatment</h3>

    <p>Kivicare IVF Fertility specializes in various types of medical services. These services are<br> categorized as follows:</p>
    
   <div class="row">
    <div class="col-md-5 p-4">
   
    <i class="fa-solid fa-check" style="color:3B5998;"></i>
    <span>Time Saving</span><br>
    <i class="fa-solid fa-check" style="color: 3B5998;"></i>
    <span>Use Donated eggs/sems</span><br>
    <i class="fa-solid fa-check" style="color:3B5998"></i>
    <span>Control over timing</span><br>
    </div>
    <div class="col-md-6 p-4">
    
        <i class="fa-solid fa-check" style="color:3B5998"></i>
        <span>Chance of healthy baby</span><br>
        <i class="fa-solid fa-check" style="color: 3B5998;"></i>
        <span>Decrease chance of miscarriage</span><br>
        <i class="fa-solid fa-check" style="color: 3B5998;"></i>
        <span>Increase conception chance</span><br>
        </div>
        </div>
        
<div class="row d-flex justify-content-center mt-100">

    <div class="col-md-12">
     


        <div class="progress blue">
          <span class="progress-left">
                            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                            <span class="progress-bar"></span>
          </span>
          
          <div class="progress-value">70% </div>
         
        </div>
        
        
          <div class="progress yellow">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value">30%</div>
          </div>

          <div class="progress blue">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">65%</div>
          </div>
        


       
    </div>
   
</div>
    </div>

    <div class="col-md-6">
        <img src="{% static '255-1.png' %}">
    </div>
</div>



<style>


.mt-100{
  margin-top: 100px;
}
.progress {
  width: 150px;
  height: 150px !important;
  float: left; 
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: white;
  font-size: 24px;
  color: #000;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.blue .progress-bar {
  border-color: #3B5998;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
  border-color: #3B5998;
}
.progress.yellow .progress-right .progress-bar {
  animation: loading-3 1.8s linear forwards;
}
.progress.yellow .progress-left .progress-bar {
  animation: none;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
</style>




<div class="row ">
  <div class="col-md-6 mt-5">
    <span>- Testimonials</span>
    <h1 class="display-4 fw-bold">What Our</h1>
    <h3 class="display-4">patients Says</h3>
  </div>

    <div class="col-md-6">

       
        
        <section class="client pt-3 pb-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6">
        
          <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
          <p class="p-text text-white"></p> 
        </div>
      </div>
      <div class="row align-items-md-center text-white">
        <div class="col-lg-12 col-md-12 col-sm-12">
       <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row p-4">
            <div class="t-card">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
          <p class="lh-lg">"you can't go wrong here.I eceive the best care and attention. The nursing staff and doctorsbare amazing and take their time with you.I felf better walking out here every time."</p> 
        </p>
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
  
                      </div>
            <div class="row">                    
             <div class="col-sm-2 pt-3">
               <img src="{% static 'mp.jpg' %}" class="rounded-circle img-responsive img-fluid">
                          </div>                    
                <div class="col-sm-10">
              <div class="arrow-down d-none d-lg-block"></div>
               <h4><strong>Moric Horgon</strong></h4>
          <p class="testimonial_subtitle"><span>PATIENT</span>
  
            
                          </p>
                      </div>
                      </div>
                    </div>
                  </div>
                 <div class="carousel-item">
                     <div class="row p-4">
                      <div class="t-card">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <p class="lh-lg">"Still very professional but a much more relaxed almosphere. This makes for a more comfortable experience which is helpful in dealing with medical issues." </p>
             <i class="fa fa-quote-right" aria-hidden="true"></i>
  
             </div>
          <div class="row">
           <div class="col-sm-2 pt-4">
     <img src="{% static 'jr.jpg' %}" class="rounded-circle img-responsive img-fluid">
                          </div>
             <div class="col-sm-10">
              <div class="arrow-down d-none d-lg-block"></div>
               <h4><strong>julia Roberts</strong></h4>
          <p class="testimonial_subtitle"><span>
            HEALTH CARE</span>
  
            
                  </p>
                      </div>
                      </div>
                    </div>
                  </div>
                 <div class="carousel-item">
                     <div class="row p-4">
                      <div class="t-card">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <p class="lh-lg">" It has been very effective, in my opinion. it has made everyone more relaxed in a very comfortable atmosphere, staff and patients included. We have always felt like family here, even more so now".</p>
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
  
                      </div>
                      <div class="row text-lg-start">
                      <div class="col-sm-2 pt-4 align-items-center">
                          <img src="{% static 'jack.jpg' %}" class="rounded-circle img-responsive img-fluid">
                          </div>
                          <div class="col-sm-10">
                            <div class="arrow-down d-none d-md-block"></div>
                          <h4><strong>jack leo</strong></h4>
                          <p class="testimonial_subtitle"><span>COO COMPANY</span>
  
                          
                          </p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="controls push-right">
                  <a class="left fa fa-chevron-left text-white btn btn btn-outline-light" href="#carouselExampleCaptions"
                    data-bs-slide="prev"></a>
                  <a class="right fa fa-chevron-right text-white btn btn btn-outline-light" href="#carouselExampleCaptions"
                    data-bs-slide="next"></a>
                </div>
          </div>
      </div>
    </div>
    </section>  

    </div>
    </div>
    
  

<style>
  .client {
    width: 100%;
    height: 100%;
    background: #fffcfe;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcfe, #3B5998);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcfe, #3B5998); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel-icon i {
  font-size: 5rem;
  color: #3B5998(255, 255, 255, 0.3);
}

.carousel-item i {
  font-size: 1.6rem;
  color: #3B5998(255, 255, 255, 0.3);
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  color: #fff;
  height: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5625rem solid transparent;
  border-right: 1.5625rem solid transparent;
  border-top: 1.25rem solid rgba(0, 0, 0, 0.5);
}
</style>



{% endblock %}