/*---------------------------------------------------------------------
	Scrollme Title
-----------------------------------------------------------------------*/
.scrolling-text {
	font-size: 130px;
	line-height: 94px;
	font-family: 'Heebo', sans-serif;
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	color: var(--white-light-color);
	z-index: -1;
}



/* 
  .spancediv{
	height:300px;  
	border-radius:30px;
	color:#fff;
	font-size:50px;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
  }
  .spancediv{
	background-color:#000;
  }
  .big-title,.big-titles,.big-titlesw{
	font-size:150px;
	position:relative;
	left:10px;
	white-space: nowrap;
	right: 81vw;
  }
   */